 .profile {
   padding: 70px 30px 40px;
   color: #FFFFFF;
   box-sizing: border-box;
 }

 .profile__title {
   max-width: 396px;
   margin: 0 auto 65px;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
 }

 .profile__container {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 410px;
   margin: 0 auto;
 }

 .profile__nav {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 396px;
   margin: 360px auto 0;
 }

 .profile__line {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   gap: 10px;
   padding: 16px 0;
 }

 .profile__line:not(:first-of-type) {
   border-top: 1px solid #424242;
 }

 .profile__text {
   margin: 0;
   font-weight: 500;
   font-size: 11px;
   line-height: 13px;
   border: none;
   text-align: right;
   padding: 0;
   color: #FFFFFF;
 }

 .profile__text_type_s {
   font-weight: 400;
   background-color: #202020;
 }

 .profile__text:focus {
   outline: 1px solid #4285f4;
 }

 .profile__submit-button,
 .profile__edit-button {
   display: inline-flex;
   align-self: center;
   margin-top: auto;
   padding: 8px;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   color: #FFFFFF;
   background: transparent;
   border: none;
   transition: opacity .3s linear;
   cursor: pointer;
 }

 .profile__edit-button:hover {
   opacity: 0.8;
 }

 .profile__submit-button:hover {
   opacity: 0.8;
 }

 .profile__link {
   display: inline-flex;
   align-self: center;
   margin: 0;
   padding: 8px;
   font-weight: 500;
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   text-decoration: none;
   color: #EE3465;
   transition: opacity .3s linear;
 }

 .profile__link:hover {
   opacity: 0.7;
 }

 .profile__error {
   min-height: 13px;
   margin: auto 0 20px;
   font-weight: 400;
   font-size: 11px;
   line-height: 13px;
   text-align: center;
   color: #EE3465;
   opacity: 0;
 }

 .profile__error_visible {
   opacity: 1;
 }

 /* .profile__submit-button {
  display: inline-flex;
   align-self: center;
   margin-top: auto;
   padding: 8px;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   color: #FFFFFF;
   background: transparent;
   border: none;
   transition: opacity .3s linear;
   cursor: pointer;
  } */

 /* margin: 360px auto 0; */

 /* .profile__submit-button:hover {
   opacity: 0.7;
 } */

 @media screen and (min-width: 767px) {
   .profile {
     padding: 236px 30px 269px;
   }

   .profile__container {
     margin-bottom: 210px;
   }

   .profile__nav {
     margin-top: 155px;
     /* margin-top: 190px; */
   }

   .profile__submit-button,
   .profile__edit-button {
     font-size: 13px;
     line-height: 16px;
   }

   .profile__title {
     margin-bottom: 80px;
   }

   .profile__link {
     font-size: 13px;
     line-height: 16px;
   }

   /* .profile__submit-button {
     margin-top: 190px;
   } */
 }

 @media screen and (min-width: 1279px) {
   .profile {
     padding: 74px 30px 70px;
   }

   .profile__title {
     margin-bottom: 108px;
   }

   .profile__nav {
     margin-top: 200px;
     height: fit-content;
   }

   /* .profile__submit-button {
     margin-top: 200px;
   } */
 }