.form__button-register {
  margin-top: 165px;
}

.form__button-register:disabled {
  color: #C2C2C2;
  background: #F8F8F8;
  cursor: auto;
}

.form__button-register:disabled:hover {
  opacity: 1;
}

@media screen and (min-width: 628px) and (max-width: 767px) {
  .form__button-register {
    margin-top: 75px;
  }
}

@media screen and (min-width: 767px) {
  .form__button-register {
    margin-top: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .form__button-register {
    margin-top: 71px;
  }
}
