.form__button-register {
  margin-top: 165px;
}

@media screen and (min-width: 628px) and (max-width: 767px) {
  .form__button-register {
    margin-top: 75px;
  }
}

@media screen and (min-width: 767px) {
  .form__button-register {
    margin-top: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .form__button-register {
    margin-top: 71px;
  }
}