.footer {
  flex: 0 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #202020;
}

.footer__container {
  max-width: 1280px;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 40px 0 0;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0;
  margin: 0;
}

.footer__text {
  display: block;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
  margin: 0;
  color: #8B8B8B;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
}

.footer__links {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.footer__year,
.footer__link {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .3s linear;
}

.footer__year,
.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 479px) {
  .footer__container {
    padding-bottom: 7px;
  }

  .footer__info {
    flex-direction: column;
    padding: 0;
  }

  .footer__text {
    display: block;
    font-size: 12px;
    letter-spacing: 0.02em;
  }

  .footer__links {
    flex-direction: column;
    order: 1;
    padding: 25px 0;
    gap: 5px;
  }

  .footer__year {
    order: 2;
  }

  .footer__year,
  .footer__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 767px) {
  .footer__container {
    width: calc(100% - 60px);
  }

  .footer__info {
    padding: 15px 0 0;
  }

  .footer__text {
    letter-spacing: 0.02em;
  }

  .footer__links {
    gap: 30px;
  }

  .footer__year {
    letter-spacing: 0.05em;
  }

  .footer__link {
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1279px) {
  .footer__container {
    width: calc(100% - 140px);
  }
}